---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';

import { headerData, footerData } from '~/navigation';

import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
  logoSrc?: string;
  logoName?: string;
  logoAcronym?: string;
}

const { metadata, logoSrc, logoName, logoAcronym } = Astro.props;
---

<Layout metadata={metadata}>
  <slot name="header">
    <Header {...headerData} isSticky showToggleTheme={false} logoSrc={logoSrc} logoName={logoName} logoAcronym={logoAcronym}/>
  </slot>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <Footer links={[]} secondaryLinks={footerData.secondaryLinks} socialLinks={footerData.socialLinks} footNote={footerData.footNote} />
  </slot>
</Layout>
