---

export interface Article {
  title: string;
  description: string;
  preprintLink: string;
}

export interface ArticleListProps {
  articles: Article[];
  classes?: {
    container?: string;
    article?: string;
    title?: string;
    description?: string;
    preprintLink?: string;
  };
}

import Image from '~/components/common/Image.astro';


const { articles, classes = {} } = Astro.props as ArticleListProps;

const preprintLogos = {
  arxiv:  "~/assets/images/arxiv-logo.png", // Replace with the actual path to the arXiv logo
  engrxiv: "~/assets/images/engrxiv-logo.png", // Replace with the actual path to the engrXiv logo
};

function getPreprintType(url: string): 'arxiv' | 'engrxiv' | null {
  if (url.includes('arxiv')) return 'arxiv';
  if (url.includes('engrxiv')) return 'engrxiv';
  return null;
}
---

<div class={classes.container}>
  {articles.map((article) => {
    const preprintType = getPreprintType(article.preprintLink);
    return (
      <div class={`border-l-4 border-primary pl-4 ${classes.article} flex items-center`}>
        <div class="flex-1">
          <h3 class={classes.title}>{article.title}</h3>
          <p class={classes.description}>{article.description}</p>
        </div>
        <div class="flex items-center ml-4 mr-10">
          {preprintType ? (
            <>
              <a href={article.preprintLink} class={`text-accent underline ${classes.preprintLink}`} target="_blank" rel="noopener noreferrer">
                <Image src={preprintLogos[preprintType]} alt={`${preprintType} logo`} class="w-8 h-8" />
              </a>
            </>
          ) : (
            <a href={article.preprintLink} class="text-accent underline mr-5">Link</a>
          )}
        </div>
      </div>
    );
  })}
</div>